{{ if .Site.Params.skills.enable | default false }}
<section id="skills" class="section">
	<h1>{{ .Site.Params.skills.title | default "Skills" }}</h1>
	<div class="container">
		{{ range .Site.Params.skills.types }}
		<div class="card card-row">
			<span class="color-circle">
				<!-- icon -->
				{{ $name := .svg }}
				{{ partial "fontawesome.html" (dict "context" . "name" $name "class" "icon") }}
			</span>
			<div>
				<span class="card-title">
					{{ .name }}
				</span>
				{{- $array := .list -}}
				<div class="content">
					{{ delimit $array ", " }}
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</section>
{{ end }}