{{ define "main" }}
list.html
<div class="list">
    <h1>{{ .Page.Title }}</h1>
    {{ range (.Pages.ByParam "start-date").Reverse }}
        <a href="{{.RelPermalink}}">
            <article class="card card-row card-hover">  
                {{- partial "cover.html" (dict "context" . ) }}
                <div class="card-overflow">
                    <span class="card-title">
                        {{ .Title }}
                    </span>
                    <div class="content">
                        {{ .Description }}
                    </div>
                </div>
            </article>
        </a>
    {{ end }}
</div>
{{ end }}