<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ .Title }}</title>
	<!-- css handler -->
	{{- $main := resources.Get "css/main.css" }}
	{{- $reset := resources.Get "css/core/reset.css" }}
	{{- $theme_vars := resources.Get "css/core/theme-vars.css" }}
	{{- $common := resources.Match "css/common/*.css" | resources.Concat "assets/css/common.css" }}
	{{- $extended := resources.Get "css/extended.css" }}
	{{- $stylesheet := (slice $main $reset $theme_vars $common $extended) | resources.Concat "assets/css/stylesheet.css"}}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $stylesheet.RelPermalink }}" />
	<!-- font handler -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- katex handler -->
	{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}
</head>
<!-- TODO: Verify if the head is right -->