<header class="header">
	<nav class="nav blur">
		<div class="logo">
			{{ if .Site.Params.logo.enable }}
				{{ $logo_url:= "/" }}
				{{ $logo_path := .Site.Params.logo.path | default "/img/enib.png" }}
				{{ if eq $logo_path "/img/enib.png" }}
					{{ $logo_url = "https://www.enib.fr" }}
				{{ else }}
					{{ $logo_url = .Site.Params.logo.url | default "/" }}
				{{ end }}
				<a href="{{ $logo_url }}"><img src="{{ $logo_path }}" ></a>
			{{ end }}
			<a href="/">{{ .Site.Title }}</a>
		</div>

		<div class="nav-container">
			<button onclick="toggleMobilePanel()" id="burger">
				<span class="burger-elem"></span>
				<span class="burger-elem"></span>
				<span class="burger-elem"></span>
			</button>
			<!-- Nav links -->
			<ul id="menu">
				{{- $currentPage := . }}
				{{- range .Site.Menus.main }}
				{{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
				{{- $page_url:= $currentPage.Permalink | absLangURL }}
				<li>
					<a href="{{ .URL }}">
						<span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
							{{- .Name -}}
						</span>
					</a>
				</li>
				{{- end }}
				<!-- Separator -->
				<span class="separator"></span>
				<!-- Toggle theme button -->
				<button id="theme-toggle" accesskey="t" title="(Alt + T)">
					<span id="slider">
						<svg id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
						</svg>

						<svg id="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<circle cx="12" cy="12" r="5"></circle>
							<line x1="12" y1="1" x2="12" y2="3"></line>
							<line x1="12" y1="21" x2="12" y2="23"></line>
							<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
							<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
							<line x1="1" y1="12" x2="3" y2="12"></line>
							<line x1="21" y1="12" x2="23" y2="12"></line>
							<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
							<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
						</svg>
					</span>
				</button>
				<!-- Separator -->
				<span class="separator"></span>
				<a href="{{ .Site.Params.repo_url }}" target="_blank" rel="noopener noreferrer">
					<!-- icon -->
					{{ partial "fontawesome.html" (dict "context" . "name" "github" "class" "icon icon-link") }}
				</a>
			</ul>
		</div>
		<div id="click-outside">
		</div>	
	</nav>
</header>



<script>
	/* toggle theme handler */
	document.getElementById("theme-toggle").addEventListener("click", () => {
		if (document.body.className.includes("dark")) {
			document.body.classList.remove("dark");
			localStorage.setItem("pref-theme", "light");

		} else {
			document.body.classList.add("dark");
			localStorage.setItem("pref-theme", "dark");
		}
	})
	//Check Storage. Keep user preference on page reload
	if (localStorage.getItem("pref-theme") === "dark") {
		document.body.classList.add("dark");
	}

	/* toggle mobilenav handler */
	var mobilePanelOn = false;
	var burger_elems = document.getElementsByClassName("burger-elem");
	var burger = document.getElementById("burger");
	var click_outside = document.getElementById("click-outside");

	
	function burgerBar() {
		for (var i = 0; i < burger_elems.length; i++) {
			switch (i) {
				case (0):
					burger_elems[0].classList.remove("burger-elem-active1");
				case (1):
					burger_elems[1].classList.remove("burger-elem-active2");
				case (2):
					burger_elems[2].classList.remove("burger-elem-active3");
				default: break;
			}
		}
	}

	function burgerCross() {
		for (var i = 0; i < burger_elems.length; i++) {
			switch (i) {
				case (0):
					burger_elems[0].classList.add("burger-elem-active1");
				case (1):
					burger_elems[1].classList.add("burger-elem-active2");
					case (2):
					burger_elems[2].classList.add("burger-elem-active3");
				default: break;
			}
		}
	}

	function closeMobilePanel() {
		console.log("close");
		menu.style.transform = "translate(0, -100%)";
		click_outside.style.display = "none";
		burgerBar();
		mobilePanelOn = !mobilePanelOn;
	}

	function openMobilePanel() {
		console.log("open");
		menu.style.transform = "translate(0, 0%)";
		click_outside.style.display = "block";
		burgerCross();
		mobilePanelOn = !mobilePanelOn;
	}
	function toggleMobilePanel() {
		var menu = document.getElementById("menu");
		if (mobilePanelOn) {
			// hide panel
			closeMobilePanel();
		} else {
			// show panel
			openMobilePanel();
		}
	}
	document.getElementById("click-outside").addEventListener("click", closeMobilePanel); 
</script>