<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ .Title }}</title>

	{{- $main		:= resources.Get "css/main.css" }}
	{{- $reset		:= resources.Get "css/core/reset.css" }}
	{{- $theme_vars	:= resources.Get "css/core/theme-vars.css" }}
	{{- $common		:= resources.Match "css/common/*.css" | resources.Concat "assets/css/common.css" }}
	{{- $extended	:= resources.Get "css/extended.css" }}
	{{- $stylesheet	:= (slice $main $reset $theme_vars $common $extended) | resources.Concat "assets/css/stylesheet.css"  }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $stylesheet.RelPermalink }}" />

</head>
<!-- TODO: Verify if the head is rigth -->