.header {
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--entry);
    position: fixed;
    width: 100%;
    z-index: 50;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.blur {
    -webkit-backdrop-filter: saturate(50%) blur(8px);
    backdrop-filter: saturate(50%) blur(8px);
    background: var(--theme-backdrop);
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
    width: 42px;
    height: 23px;
    background: var(--entry);
    border-radius: 9999rem;
    border: 1.5px solid var(--border);
    position: relative;
}

button#theme-toggle:hover {
    border-color: var(--color);
}

button#theme-toggle #slider {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 9999rem;
    transition: 0.3s;
    background: var(--theme);
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark #slider {
    left: -100%;
    transform: translateX(calc(100% - 1px));
}

body.dark #sun {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #moon {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
    font-weight: 500;
}

#menu a:hover {
    color: var(--color);
}

#menu .active {
    color: var(--color);
}

#slider svg {
    width: 14px;
    height: 14px;
}