.header {
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 50;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.blur {
    -webkit-backdrop-filter: saturate(50%) blur(8px);
    backdrop-filter: saturate(50%) blur(8px);
    background: var(--theme-backdrop);
}

.nav-container {
    display: flex;
    align-items: center;
    margin: auto 15px;
}

.logo {
    display: flex;
    margin: auto auto auto 15px;
    flex-wrap: inherit;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.logo:hover {
    opacity: 75%;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    display: block;
    width: 40px;
    height: 22px;
    background: var(--entry);
    border-radius: 9999rem;
    border: 1px solid var(--border);
    position: relative;
    flex-shrink: 0;
    transition-property: border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

button#theme-toggle:hover {
    border-color: var(--secondary);
}

button#theme-toggle #slider {
    position: absolute;
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 9999rem;
    transition: 0.25s;
    background: var(--theme);
    left: 1px;
    top: 1px;
    justify-content: center;
    align-items: center;
}

body.dark span#slider {
    transform: translateX(100%);
}

body.dark span#slider svg {
    width: 12px;
    height: 12px;
}

body.dark #sun {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #moon {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 14px;
    font-weight: 500;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#menu a:hover {
    color: var(--color);
}

#menu .active {
    color: var(--color);
}

#slider svg {
    width: 14px;
    height: 14px;
}

.separator {
    width: 0px;
    height: 24px;
    display: block;
    border-left: 1px solid var(--entry);
    margin: 0 var(--gap);
}
