body {
    background-color: var(--theme);
}

.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    border: 0.2rem;
    border-color: black;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 0 var(--gap);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
}



.section h1 {
    margin-top: calc(var(--gap)*3);
    margin-bottom: var(--gap);
}
.section .card{
    margin-top: var(--gap);
}

.card {
    background-color: var(--card-bg);
    padding: var(--gap);
    border-radius: var(--radius);
    max-width: 750px;
    flex-grow: 1;
}

.card-fake {
    max-width: 750px;
    flex-grow: 1;
}

.card .color-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 9999rem;
    flex-shrink: 0;
    background-color: var(--color);
    margin-right: var(--gap);
}

.card-row {
    display: flex;
}

.card-title {
    font-size: var(--title-size);
    font-weight: 600;
}
.icon {
    color: white;
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link:hover {
    color: var(--color);
    cursor: pointer;
}
.content {
    font-size: var(--content-size);
    font-weight: 300;
}
.content-ml {
    margin-left: calc(var(--gap)/2);
}

.timeline {
    display: flex;
    width: 100%;
    justify-content: center;
}
.timeline .spline {
    position: relative;
    margin: 0 var(--gap);
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--color);
}

.timeline .circle {
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    top :calc(var(--gap)*2 + var(--title-size)/4);
    border-radius: 9999rem;
    flex-shrink: 0;
    left: 50%;
    translate: -50%;
    background-color: var(--color);
}
.card .italic {
    font-size: var(--content-size);
    font-style: italic;
    min-width: 5.2rem;
}
.card-header {
    display: flex;
    justify-content: space-between;
}

.medium-line,
.small-line {
    border-radius: 999rem;
}
.medium-line {
    margin: 0.5rem 0;
    height: 1.25rem;
}

.small-line {
    height: 0.75rem;
}
.nav-container {
    display: flex;
}




@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        flex-grow: 1;
    }
}