{{- $list:= .list -}}
{{- $context:= .context -}}

{{ if .context.Site.Params.timeline_overflow }}
<div class="timeline">
    <div class="spline">
        <span class="line small-line"></span>
    </div>
    <div class="card-fake"> </div>
</div>

<div class="timeline">
    <div class="spline">
        <span class="line medium-line"></span>
    </div>
    <div class="card-fake"> </div>
</div>
{{ end }}

{{ range $list }}
<div class="timeline">
    <div class="spline">
        <span class="line"></span>
        <span class="circle"></span>
    </div>
    <div class="card card-padding timeline-card">
        <div class="card-header">
            <span class="card-title">
                {{ .title }}
            </span>
            <span class="content">
                {{ .city }}, {{ .country }}
            </span>
        </div>
        <span class="italic">{{ .date }}</span>
        {{- $array := .list -}}
        {{ range .content}}
            <div class="content content-ml">
                {{ . }}
            </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ if .context.Site.Params.timeline_overflow }}
<div class="timeline">
    <div class="spline">
        <span class="line medium-line"></span>
    </div>
    <div class="card-fake"> </div>
</div>

<div class="timeline">
    <div class="spline">
        <span class="line small-line"></span>
    </div>
    <div class="card-fake"> </div>
</div>
{{ end }}