{{ define "main" }}
<span class="home">
    <div class="profile">
        {{- with site.Params.profile }}
            <img draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
            <h1>{{ .title | default site.Title }}</h1>
            <span>{{ .subtitle }}</span>
            {{- with .cv }}
                <div class="buttons">
                    {{- range . }}
                    <a class="button" href="{{ .filePath }}" rel="noopener" target="_blank">
                        <span>
                            {{ .name }}
                        </span>
                    </a>
                    {{- end }}
                </div>
                {{- end }}
        {{- end}}
    </div>
</span>

{{ end }}